NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rental_ps?schema=public"
JWT_SECRET="change-this-secret"
TUYA_BASE_URL="https://openapi.tuyaus.com"
TUYA_CLIENT_ID=""
TUYA_CLIENT_SECRET=""
TUYA_DEVICE_ID=""
